<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <!--   <link rel="stylesheet" href="static/calculation.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculation.css') }}">
    <!--
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='calculator.css') }}"/> -->
</head>
<body>
   
    <a href="#" class="button-18">Choose</a>


    <h1>Evan Miller's calculator</h1>
    <form method="post" action="{{ url_for('operation_result') }}" id="calculator_form">
        <label for="Input1">Baseline Conversion Rate: </label>
        <input type="text" name="Input1" id="Input1">
        <br/>
        <label for="Input2">Minimum detectable rate:</label>
        <input type="text" name="Input2" id="Input2">
        <br/>
        <label for="Input3">statistical power:</label>
        <input type="text" name="Input3" id="Input3">
        <br/>
        <label for="Input4">statistic level:</label>
        <input type="text" name="Input4" id="Input4">
        <br/>
     <!--     <label for="operation">Operation</label>
      <select id="operation" name="operation">
            <option value="+">Addition</option>
            <option value="*">Multiplication</option>
        </select> -->
        <br/>
        <input type="submit" value="Submit"/>
        <input type="reset"  value="RESET" style="color: red;"/>
    </form>
    {% if calculation_success == True %}
        <br/>
        <p>Sample Size : {{result}}</p>
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <p>{{error}}</p>
        <p>Sample Size : {{result}}"</p>
    {% endif %}

   
</body>
</html>