<!DOCTYPE html>
<html lang="en">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Bajaj</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='image/apple-touch-icon1.png')}}" rel="icon">
  <link href="{{url_for('static', filename='image/apple-touch-icon1.png')}}" rel="apple-touch-icon">
<!-- 
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFF" d="…"></path>
  </svg> -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href= "{{url_for('static', filename='vendor/simple-datatables/style.css')}}" rel="stylesheet">
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
 

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

  <!-- ======= Header ======= -->
  
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="nav-link nav-profile d-flex align-items-center pe-0">
      <i class="bi bi-list toggle-sidebar-btn"></i>
      <a href="templates/index1.html" class="logo d-flex align-items-center">  
        <img src="{{url_for('static', filename='image/apple-touch-icon1.png')}}" alt="">
        <span class="d-none d-lg-block">Bajaj Finserv</span>
      </a>   
    </div>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item" active>
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="{{url_for('New_Testing')}}">
            <i class="bi bi-menu-button-wide"></i><span>New Testing</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>   
              <a href="{{url_for('New_Testing')}}#hypothesis_section">
                <i class="bi bi-circle"></i><span>Hypothesis</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('New_Testing')}}#select_filters">
                <i class="bi bi-circle"></i><span>Select Conditions/Filters</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('New_Testing')}}#sample_size">
                <i class="bi bi-circle"></i><span>Minimum Sample Size</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('New_Testing')}}#sampling_technique">
                <i class="bi bi-circle"></i><span>Sampling Technique</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('New_Testing')}}#campaign_details">
                <i class="bi bi-circle"></i><span>Campaign Details</span>
              </a>
            </li>
          </ul>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('index')}}">
              <i class="bi bi-graph-up"></i>
              <span>Reports</span>
            </a>
        </li>
      </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <form method="post"  action = "{{url_for('index')}}" >
      <section class="section dashboard"> 
        <div class="card">
              <div class = "card-body">
                <h2>Reports</h2>
                <div class = "row">
                  <div class="col-4">
                    <select name = "Master_name_input" id="Master_name_input" for = "Master_name_input" class="form-select" >
                      <option selected value="Choose" disabled>Choose : </option>
                      {% for i in Master_names %} 
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}  
                    </select>
                  </div>                  
                    <div class = "col-1">
                      <button type="submit" class="button-18" for = "Hypothesis_button" id = "Hypothesis_button" name = "Hypothesis_button" >Submit</button>     
                    </div>
                  </div>  
  
                  <div class="col-12">
                    <div class="text-center">    
                    <div id="Chart2"></div>
                  </div>
                  </div>
                  
                  
                    <div class="col-6">
                    
                      <div id="Chart3"></div>
                  
                  </div>
                  <div class="col-6">
                    
                    <div id="Chart4"></div>
              </div> 

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Index</th>
                      <th scope="col">Campaign Name</th>
                      <th scope="col">Customer Segment</th>
                      <th scope="col">Sent</th>
                      <th scope="col">Clicks</th>
                      <th scope="col">Users</th>
                      <th scope="col">converted </th>
                      <th scope="col">app_launched</th>
                      <th scope="col">app_active </th>
                      <th scope="col">converted_percent</th>
                      <th scope="col">app_active_percent</th>
                    
                    </tr>
                  </thead>
                  
                  <tbody> 

                    {% for i in Row_list %} 
                    <tr>
                      {% for j in i %}
                      <td>{{j}}</th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <!-- <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr> -->
                    <!-- <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
                
                 
                </div>  
            

                {{Max_values}}
                <script>
                
                  function multibarchart(series_name_multichart,  maximim_max, name){               
                        var options = {                         
                            series: 
                            series_name_multichart, 
                            chart: {
                            height: 300,
                            width : 500, 
                            type: 'line',
                          },
                          plotOptions: {
                            bar: {
                              columnWidth: ['30%'],
                            dataLabels: {                          
                              position: 'top',                     
                            }
                          },                           
                          },
                          stroke: {
                            width: [4,0, 0, 0]
                          },
                          title: {
                            text: name                     
                          },
                          colors:['#000','#28a4fc','#26e7a6', '#ffb41c'],
                          dataLabels: {
                            enabled: true,
                            formatter: function (val) {
                                  return val+"%"
                              },
                            enabledOnSeries: [0],
                            style : {
                              colors : [ '#000', '#000', '#000', '#000'],
                              fontSize: '7px'
                            }   
                          },
                          xaxis: {        
                          labels: {
                             trim: false,
                            //  minHeight: 100,
                            //  maxHeight: 100,    
                            // rotate: '-45', 
                            rotateAlways: true,
                            style : 
                            {
                              fontSize : '7px'
                            }
                             },
                             categories : ["a", "b", "c", "d", "e"],                          
                          },
                          fill: {
                            opacity: 0.7
                          },
                          grid: {
                          row: {
                              colors: ['#e5e5e5', 'transparent'],
                              opacity: 0.5
                          }, 
                          // column: {
                          //     colors: ['#f8f8f8', 'transparent'],
                          // }, 
                          xaxis: {
                            lines: {
                              show: true
                            }
                          }
                        },
                          yaxis: 
                          [
                                {
                                  seriesName: 'Line' ,                    
                                  title: {
                                    text: "Line graph"
                                  },
                                  showAlways : true,                              
                                },                             
                                {                              
                                  opposite: true,
                                  seriesName: undefined,                                             
                                  title: {
                                    text: "Columns graph"
                                  }, 
                                  showAlways : true,   
                                  forceNiceScale: true,  
                                  axisTicks: {
                                  show: true
                                },
                                axisBorder: {
                                  show: true,
                                },                  
                                  min: 0,
                                  max: maximim_max,
                                },
                                {                              
                                  opposite: true,  
                                  seriesName: undefined,                               
                                  title: {
                                    text: "Columns graph"
                                  }, 
                                  show: false,
                                  axisTicks: {
                                  show: true
                                },
                                axisBorder: {
                                  show: true,
                                },                                                           
                                  min: 0,
                                  max: maximim_max,
                                },
                                {                              
                                  opposite: true,
                                  seriesName: undefined,
                                  title: {
                                    text: "Columns graph"
                                  }, 
                                  show: false,
                                  min: 0,
                                  max: maximim_max,
                                },                           
                              ],
                              tooltip: {
                                y: {
                                  formatter: function (val) {
                                    return val + "%"
                                  }
                                }
                              },
                              legend: {
                            position: 'top'
                          },                    
                          };
                        return options;
                      }
                    
                var series_name_multichart = {{Series.converted_percent | safe}}
                var series_name_multichart_2 = {{Series.app_launched_percent| safe}}
                var series_name_multichart_3 = {{Series.app_active_percent| safe}}
                var max_1 = {{Max_values[0] | safe}}
                var max_2 = {{Max_values[1] | safe}}
                var max_3 = {{Max_values[2] | safe}}
                // var x_axis_names  = ["a","b","c","d","e"]
                
                document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#Chart2"), multibarchart(series_name_multichart, max_1, "Conversion Rate")).render();});
                document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#Chart3"), multibarchart(series_name_multichart_2, max_2, "App Launch Rate")).render();});
                document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#Chart4"), multibarchart(series_name_multichart_3, max_3, "App Active Rate")).render();});

              



 
             

             

                  // function donutchart(user_data, x_axis_names) {
                  //   var options = {
                  //       series: user_data,
                  //       // name: x_axis_names,
                  //       chart: {
                  //       width: 800,
                  //       type: 'donut',
                  //     },
                  //     plotOptions: {                      
                  //       pie: {
                  //         donut: {
                  //           labels: {
                  //             show: true,
                  //             total: {
                  //               showAlways: true,
                  //               show: true
                  //             }
                  //           }
                  //         }
                  //       }       
                  //     },
                  //     labels: x_axis_names,
                  //     dataLabels: {
                  //       enabled: true
                  //     },
                  //     title: {
                  //       text: 'Sent Users', 
                  //       align: 'center', 
                  //       style: {
                  //        fontSize:  '20px',
                  //        fontFamily:  undefined,
                  //        color:  '#263238'
                  //   },
                  
                  //     },
                  //     responsive: [{
                  //       breakpoint: 480,
                  //       options: {
                  //         chart: {
                  //           width: 200
                  //         },       
                  //         legend: {
                  //           position: 'bottom'
                  //           // show : true
                  //         }
                  //       }
                  //     }]
                  //     };
                  //     return options; 
                  // }

                  
                  // function myFunction(series_input, name, x_axis_names) {
                  //   options = {
                  //   series: [series_input],
                  //   labels : x_axis_names,
                  //     chart: {
                  //     type: 'bar',
                  //     height: 200
                  //   },
                  //   legend: {
                  //     show: true, 
                  //     position : 'top'
                  //   },
                  //   title: {
                  //   text: String(name),
                  //   align: 'centre',
                  //   margin: 10,
                  //   offsetX: 0,
                  //   offsetY: 0,
                  //   floating: false,
                  //   style: {
                  //     fontSize:  '16px',
                  //     fontFamily:  undefined,
                  //     color:  '#263238'
                  //   },
                  //   },
                  //   plotOptions: {
                  //     bar: {
                  //       horizontal: true,
                  //       dataLabels: {
                          
                  //         position: 'top',
                  //         formatter: function (val) {
                  //         return val + "%"
                  //         },
                  //       },

                  //     }
                  //   },
                  //   dataLabels: {                     
                  //     offsetX: -6,
                  //     formatter: function (val) {
                  //         return val + "%"
                  //         },
                  //     style: {
                  //       fontSize: '12px',
                  //       colors: ['#fff']
                  //     }
                  //   },
                    
                  //   stroke: {
                  //     show: true,
                  //     width: 1,
                  //     colors: ['#fff']
                  //   },
                  //   colors: [ '#145DA0'],
                  //   tooltip: {
                  //     shared: true,
                  //     intersect: false
                  //   },
             
                  //   grid: {
                  //   position: 'front'
                  //   },
                  //   fill: {
                  //   type: 'gradient',
                  //   gradient: {
                  //     shade: 'light',
                  //     type: "vertical",
                  //     shadeIntensity: 0.25,
                  //     gradientToColors: undefined,
                  //     inverseColors: true,
                  //     opacityFrom: 0.85,
                  //     opacityTo: 0.85,
                  //     stops: [50, 0, 100]
                  //   },
                  // }
                    
                  //   };
                  //   return options; 
                  //   }
                    
                    // var series = {name : "Conversion Rate", data : data1}
                    // var series2 = {name : "App Launch Percent",data: data2}
                    // var series3 =  {name : "App Active percent",data: data3}
                    // var name = "Conversion Rate"
                    // var name2 = "App Launch Percent"
                    // var name3 = "App Active percent"

                    // // final_options = 
                    // document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#Conversion_Chart"), myFunction(series, name, x_axis_names)).render();});
                    
                    // // final_options2 = myFunction(series2)
                    // document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#App_Launched_Chart"), myFunction(series2, name2, x_axis_names)).render();});

                    // // final_options3 = myFunction(series3)
                    // document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#App_Active_Chart"), myFunction(series3, name3, x_axis_names)).render();});
                     
                    // //Donut chart 
                    // document.addEventListener("DOMContentLoaded", () => {new ApexCharts(document.querySelector("#Donut_Chart"), donutchart(user_data, x_axis_names)).render();});
           
           </script>         
            </div>
            
        </div>
      </section>
    </form>
  </main>


  <footer id="footer" class="footer">

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="{{url_for('static', filename='vendor/apexcharts/apexcharts.min.js')}}"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.8.6/apexcharts.min.js"></script> -->
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/quill/quill.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>