<!DOCTYPE html>
<html lang="en">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dashboard - Bajaj</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{{url_for('static', filename='image/apple-touch-icon1.png')}}" rel="icon">
    <link href="{{url_for('static', filename='image/apple-touch-icon1.png')}}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/simple-datatables/style.css')}}" rel="stylesheet">
    <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class = "navbar-nav w-100 justify-content-center">    
          <div class="nav-link nav-profile d-flex align-items-center">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="templates/index.html" class="logo d-flex align-items-center">
              <img src="{{url_for('static', filename='image/apple-touch-icon1.png')}}" alt="">
              <span class="d-none d-lg-block">Bajaj Finserv</span>
            </a> 
          </div>
      </div>      
    </header>
   

    <aside id="sidebar" class="sidebar">
      <div class = "card-body">
        <ul class="sidebar-nav" id="sidebar-nav">
          <li class="nav-item active">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="{{url_for('New_Testing')}}">            
              <i class="bi bi-menu-button-wide"></i>
              <span>New Testing</span>
              <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href= "#hypothesis" id="hypothesis_button">
                  <i class="bi bi-circle"></i>
                  <span>Hypothesis</span>
                </a>
                <!-- <script>
                  function test(x)
                  {
                    window.scrollTo({ top: document.getElementById(x).getBoundingClientRect().top, behavior: 'smooth'})
                  }
                </script> -->
              </li>
              <li>
                <a href= "#select_filters">
                  <i class="bi bi-circle"></i>
                  <span>Select Conditions/Filters</span>
                </a>
              </li>
              <li>
                <a href="#sample_size">
                  <i class="bi bi-circle"></i>
                  <span>Minimum Sample Size</span>
                </a>
              </li>
              <li>
                <a href="#sampling_technique">
                  <i class="bi bi-circle"></i>
                  <span>Sampling Technique</span>
                </a>
              </li>
              <li>
                <a href="#campaign_details">
                  <i class="bi bi-circle"></i>
                  <span>Campaign Details</span>
                </a>
              </li>
            </ul>
          <li class="nav-item">
            <a class="nav-link " href="{{url_for('index')}}">
              <i class="bi bi-graph-up"></i>
              <span>Reports</span>
            </a>
          </li>
        </ul>
      </div>
      
    </aside>
    <!-- End Sidebar-->
    <!-- Main Body-->
    <main id="main" class="main">
      <form method="post"  action = "{{url_for('New_Testing')}}" >
        <!-- Start hypothesis -->
        <div id="hypothesis" class="pagetitle">
          <h1>Hypothesis</h1>
        </div>
        <div class="card  ">
          <div class="card-body  row">
            <div class="col-3 align-items-center" style="display: inline-flex;">
              <h5 class=" card-title">
                <label for="Insight_input" class="form-label">Define Hypothesis <sup>
                    <b title="Sample of Hypothesis : Given that a significant number of users drop off during the onboarding process, sending personalized welcome messages to new users will result in a higher retention rate.">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>
                </label>                
              </h5>
            </div>
            <div class="col-9">
              <textarea name="Hypothesis" id="Hypothesis" name="Hypothesis" class="form-control" rows="3">{% if Success == True %}{{form.Hypothesis}}{% endif %}</textarea>
             </div>     
          </div>
          <div class="card-body  row">
            <div class="col-3 align-items-center" style="display: inline-flex;">
              <h5 class=" card-title">
                <label for="Insight_input" class="form-label">Number of DOE<sup>
                  <b title="Design Of Experiment&#013;i.e. The number of test cases we need.">
                    <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                    <img>
                  </b>
                </sup>
                </label>                
              </h5>
            </div>
            <div class="col-3">
              <select name = "Doe_input" id="Doe_input" class="form-select" >
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <script>
                document.querySelector('#Doe_input').value = "{% if Success == True %}{{form.DOE}}{% else %}1{% endif %}";
               </script> 
            </div>  
            <!-- {% if Success == True %}{{form}}{% endif %}   -->
          </div>
        </div>
        <hr>
        <!--End Hypothesis -->

        <!--  Start Select filters -->
        <div id="select_filters" class="pagetitle">
          <h1>Select Conditions/Filters</h1>
          <h9>Please select the conditions and filters.</h9>
          <!-- <B>{% if Success == True%}{{form}}{% endif %}</B> -->
        </div>
        <div class="card">
          <div class="card-body  row "> {% for i in features %} <div class="col-4">
              {% if i.value == True %}
              <input class="form-check-input" type="checkbox" id="{{i.key}}"    name = "{{i.key}}" checked>
              <label class="form-check-label"  >{{i.key}}</label>   
              {% else %} 
              <input class="form-check-input" type="checkbox" id="{{i.key}}"  name = "{{i.key}}">
              <label class="form-check-label"  >{{i.key}}</label>   
              {% endif %}
          </div> 
            {% endfor %} 
            <div class ="card-body">
              <div class="text-center">
                <!-- <button type="submit" class="button-18" for = "Features_button"   ><a class="button-18"  href= "#sample_size" >Submit</a></button> -->
                <button type="submit" class="button-18" for = "Features_button" id = "Features_button" name = "Features_button">Calculate</button>     
              </div>   	
              <div class = "text-center">
                <b>{% if Success == True %}Current DB Count: {{form.Current_Count}}{% endif %} </b>  
              </div>
            </div>
        </div>
      </div>
        <hr>
        <!--End Select filters -->

				<!--  Start Calculator -->
				<div id="sample_size" class="pagetitle">
					<h1>Minimum Sample Size Calculator</h1>
          <h9>Please fill in the information for minimum sample size calculation.</h9>
        </div>
				<div class="card" style="height: 400px;">
					<div class="card-body">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Basic Sample Size</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Evan Millers</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <!--Basic Sample Size-->
                <div class="card-body col-12">
                  <h9>Required values for the calculation are - <b>Confidence Interval </b>
                    <sup>
                      <b title="A confidence interval shows the probability that a parameter will fall between a pair of values around the mean.&#013; Recommended Margin of Error : 90% - 99%">
                        <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                        <img>
                      </b>
                    </sup>and <b>Margin of Error </b>
                    <sup>
                      <b title="The margin of error means the degree of uncertainty that your survey results might have.&#013; Recommended Margin of Error : 3% - 10%">
                        <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                        <img>
                      </b>
                    </sup>The default values for Confidence Interval and Margin of Error are already mentioned below.
                  </h9>
                
								  <div class="card-body col-12">	
                      <div class="col">
												<div class="row">
													<label for="Input1" class="form-label">Confidence Interval (%)</label>
													<input type="number" class="form-control"  value="{% if Success == True %}{{form.ConversionInterval}}{% endif %}" name="confidence_Interval_Input" >
												</div>
												<div class="row">
													<label for="Input2" class="form-label">Margin Error(%)</label>
													<input type="number" class="form-control"  value = "{% if Success == True %}{{form.MarginError}}{% endif %}" name="margin_Error_Input" >
												</div>
											</div>
											<div class = "card-body">
												<div class="text-center">
                          <!-- <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                          </button> -->
                          <!-- Button trigger modal -->
                          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div> -->
                         
                          <!-- <a href="/Index" type="button" class="button-18" for = "Sample_Size_submit_1" id = "Sample_Size_submit_1" name = "Sample_Size_submit_1">Button</a>  -->

                          <button type="submit" class="button-18" for = "Sample_Size_submit_1" id = "Sample_Size_submit_1" name = "Sample_Size_submit_1">Submit</button>	
                        </div>
                        <div class="text-center">
													{% if Success == True %}Minimum Sample Size (Basic): {{form.basic_result}}{% endif %} <br> 
                          {% if Success == True %}Minimum Sample Size (Evan Millers): {{form.evan_millers}}{% endif %} <br> 
                          <b>{% if Success == True %}Final Minimum Sample Size: {{form.final_result}}{% endif %} </b>                         
												</div>                        		
											</div>
									</div>    
                </div>
              </div>
              <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <!--Evan Miller's-->
								<div class="card-body col-12">
                <h9>Required values for the calculation are - <b>Baseline Conversion Rate </b>
                  <sup>
                    <b title="The Minimum detectable Effect is the relative minimum increase over the baseline that you are willing to detect in the experiment. ">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>, <b>Minimum Detectable Effect </b>
                  <sup>
                    <b title="The Minimum detectable Effect is the relative minimum increase over the baseline that you are willing to detect in the experiment. ">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>, <b>Statistical Power </b>
                  <sup>
                    <b title="Statistical Power is the likelihood that you will detect a difference between variant A and variant B. &#013; A Higher power is always prefered.&#013; Minimum of 80% is usually recommended">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup> and <b>Statistical level </b>
                  <sup>
                    <b title="Statistic level is the level of error you're willing to accept in your test. &#013; Usually 1% to 5%. ">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>. The default values for Statistical Power and Statistical Level are already mentioned below.
                </h9>
                <div>
									<div class = "card-body col-12">
											<div class="row g-3">
												<div class="col-sm">
													<label for="Input1" class="form-label">Baseline Conversion Rate (%)</label>
													<input type="text" class="form-control" value = "{% if Success == True %}{{form.BaselineRate}}{% endif %}" name="baseline_Rate_Input">
												</div>
												<div class="col-sm">
													<label for="Input2" class="form-label">Minimum Detectable Effect (%)</label>
													<input type="text" class="form-control" value = "{% if Success == True %}{{form.DetectableEffect}}{% endif %}" name="detectable_Effect_Input" >
												</div>
											</div>
											<div class = "row g-3">
												<div class="col-sm">
													<label for="Input3" class="form-label">Significance Power  (%)</label>
													<input type="text" class="form-control" value = "{% if Success == True %}{{form.SignificantPower}}{% endif %}" name="significance_Power_Input" >
												</div>
												<div class="col-sm">
													<label for="Input14" class="form-label">Significance level (%)</label>
													<input type="text" class="form-control" value = "{% if Success == True %}{{form.SignificantLevel}}{% endif %}" name="significance_Level_Input" >
												</div>
											</div>
											<div class = "card-body">											
												<div class="text-center">
													<button type="submit" class="button-18" name ="Sample_Size_submit_2" id = "Sample_Size_submit_2">Submit</button>                          
												</div>
                        <div class="text-center">
                          {% if Success == True %}Minimum Sample Size (Basic): {{form.basic_result}}{% endif %} <br> 
                          {% if Success == True %}Minimum Sample Size (Evan Millers): {{form.evan_millers}}{% endif %} <br>  
                          <b>{% if Success == True %}Final Minimum Sample Size: {{form.final_result}}{% endif %} </b>  								                        
												</div>              
											</div>																				 
									</div> 
                </div>
              </div>
						</div>
            </div>
					</div>
				</div>				
		     <hr>
         <!--  End Calculator -->

         <!-- Starts Modal  -->
         {% if Verification == "True" %}
         <div id= "modal_message" class ="pagetitle">
          <h1> </h1>
         </div>
         <div class = "card">
          <div class = "card-body">
              <h2><b>Error</b></h2>
            
            
            <p><i>Please solve this error to proceed forward.</i><br> 
            <b>Error : The base data selected isn't enough for the number of DOEs with the required minimum sample size.</b><br>
            Please do one of the following : <br>
            1. Decrease the number of DOEs<br> 
            2. Decrease the minimum sample size<br>
            3. Increase the base data
            </p>
            <h2></h2>
            <!-- <table class="table table-borderless datatable">
              <tbody>
                <tr>
                  <td><b>Total Cases (Control case + Test case/s)</b></td>
                  <td><b>{% if Success == True %}{{form.Total_cases}}{% endif %}</b></td>
                </tr>
                <tr>
                  <td><b>Sample Size</b></td>
                  <td><b>{% if Success == True %}{{form.final_result}}{% endif %}</b></td>
                </tr>
                <tr>
                  <td><b>Base data</b></td>
                  <td><b>{% if Success == True %}{{form.Current_Count}}{% endif %}</b></td>
                </tr>
              </tbody>
            </table> -->
            <table>
              <tr>
                <th>Total Cases (Control case + Test case/s)</th>
                <td>{% if Success == True %}{{form.Total_cases}}{% endif %}</td>
              </tr>
              <tr>
                <th>Minimum Sample Size per case</th>
                <td>{% if Success == True %}{{form.final_result}}{% endif %}</td>
              </tr>
              <tr>
                <th>Required Base Data</th>
                <td>{% if Success == True %}{{form.required_db}}{% endif %}</td>
              </tr>
              <tr>
                <th>Base Data</th>
                <td>{% if Success == True %}{{form.Current_Count}}{% endif %}</td>
              </tr>
            </table>
          </div>
         </div>
         <hr> 

         {% endif %}

         {% if Verification == "False" %}

         <div id= "" class ="pagetitle">
          <h1> </h1>
         </div>
         <div class = "card">
          <div class = "card-body">
              <p><b>Available records for allocation : {% if Success == True %}{{form.Records_Available}}{% endif %}</b></p>
              <!-- {{sum}} -->
              <div class="card-body  row "> 
                {% if Success == True %}{{new_Tests}}{% endif %}
                {% for i in range(1, form.DOE+1) %} 
                <div class="col-3">
                   <label for="Test_case{{i}}" class="form-label">Test Case {{i}}</label>
                   <!-- {% with name="Test_case_1" %}   -->
                  <input type="number" class="form-control" id = "Test_case_{{i}}" name="Test_case_{{i}}" value="{% if Success == True %}{{ form['Test_case_'+ i|string] }}{% else %}{{form.final_result}}{% endif %}" min="{{form.final_result}}">
                  <!-- {{form  }} -->
                  <!-- {% endwith %} -->
                </div>
                {% endfor %} 
              
              </div>
              <div class="text-center">
                <button type="submit" class="button-18" name ="Random_button" id = "Random_button">Submit</button>                          
              </div> 
              {% if Success == True %}{{form}}{% endif %}
              <!-- <div class="card-body  row "> 
                {% for i in new_Tests %} 
                <div class="col-3">
                   <label for="Test_case{{i}}" class="form-label">Test Cases {{i.key}}</label>
                  <input type="number" class="form-control" id = "Tests{{i.key}}" name="Tests{{i.key}}" value = "{{i.value}}" min="{{form.final_result}}">
                </div>
                {% endfor %}  

                {% if Success == True %}{{form}}{% endif %}
              </div>  -->
                   
          </div>
         </div>
        </div>
      </div> 
         <hr> 

         {% endif %}
        
         <!-- Ends Modal  -->

       
				<!-- Start Sampling Technique -->
        <div id="sampling_technique" class="pagetitle">
          <h1>Sampling Technique</h1>
        </div>
        <div class="card  ">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="ps-3">
                  <br>
                  <button type="submit" value="Suggest Sampling Technique" class="button-18" name = "Button_id" id = "Button_id" {% if Verification == "True" %}disabled{% endif %}>Suggest Sampling Technique</button>
                  <div class = "card-body">
                    <b>{% if Success == True %} Suggested Technique : {{form.Sample_suggestion}}{% endif %}</b>
                  </div>
                <p>The types of Sampling Techniques are : <b>Simple Random Sampling </b>
                  <sup>
                    <b title="In statistics, a simple random sample is a subset of individuals chosen from a larger set in which a subset of individuals are chosen randomly, all with the same probability. -Wiki">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>, <b>Systematic Sampling </b>
                  <sup>
                    <b title="In statistics, a systematic sample is a method involving the selection of elements from an ordered sampling frame. -Wiki">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup> and <b>Stratified Sampling</b>
                  <sup>
                    <b title="In statistics, stratified sampling is a method of sampling from a population which can be partitioned into subpopulations.-Wiki">
                      <img src="{{url_for('static', filename='image/information_symbol.jpg')}}" alt="Bajaj" style="width:10px; height:10px">
                      <img>
                    </b>
                  </sup>
                </p>
                </p>
                  <div> 
                    <select property="status" value="St" styleClass="form-control" id = "operator" name = "operator">
                      <option value="SR">Simple Random Sampling</option>
                      <option value="SyC">Systematic Sampling</option>
                      <option value="St">Stratified Sampling</option>
                    </select>
                    <script>
                      document.querySelector('#operator').value = "{% if Success == True %}{{form.Operator}}{% else %}SR{% endif %}";
                     </script>              
                    <div class = "card-body">
                      <div class="text-center">
                        <button type="submit" class="button-18" id = "Sampling_Technique_submit" name = "Sampling_Technique_submit" {% if Verification == "True" %}disabled{% endif %}>Submit</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- End of Sampling Technique-->

        <!-- Start Stratify On --> 
        {% if Success == True %}
				{% if form.Operator == 'St' %} 
        <div id="stratify_on" class="pagetitle">
          <h1>Stratify On:</h1>
          <h9>Please select the columns to stratify on.</h9>
        </div>
        <div class="card">
          <div class="card-body  row "> {% for i in stratification_columns %} <div class="col-3">
            {% if i.value == True %}
              <input class="form-check-input" type="checkbox" id="{{i.key}}"    name = "{{i.key}}" checked>
              <label class="form-check-label"  >{{i.key}}</label>   
            {% else %} 
            <input class="form-check-input" type="checkbox" id="{{i.key}}"  name = "{{i.key}}">
            <label class="form-check-label"  >{{i.key}}</label>   
            {% endif %}
          </div> 
            {% endfor %}
        </div>
      </div>
      <hr> 
      {% endif %}
      {% endif %}
        
				
        <!-- End  Stratify On -->

        <!-- Start of Result Stratification--> 
				{% if open_section_2 == 'Result_stratified' %} 
				<h5 class="card-title">
          <b>Stratification done successfully</b>
        </h5>
        <hr> 
				{% endif %}
        <!-- End of Result Stratification-->

        <!-- Start Campaign Details-->     
        <div id="campaign_details" class="pagetitle">
          <h1>Campaign Details</h1>
        </div>
        <div class="card  ">
          <div class="card-body">
              <div class = "row g-3">
                <div class="col-md-12">
                  <label  class="form-label">Campaign Name</label>
                  <input type="text" class="form-control" id = "campaign_name_input" name="campaign_name_input" value = "{% if Success == True%}{{form.CampaignName}}{% endif %}">
                </div>
                <div class="col-md-4">                
                    <label for="Date_of_requirement" class="form-label">Date of Requirement</label>                
                <div class = "card-body">
                  <text>{{date}}</text> 
                </div>   
                </div>
                <div class="col-md-4">
                  <label for="campaign_start_date" class="form-label">Campaign Start Date</label>
                  <input type="date" class="form-control" id = "campaign_start_date" name="campaign_start_date" value = "{% if Success == True%}{{form.CampaignStartdate}}{% endif %}">
                </div>
                <div class="col-md-4"><label for="campaign_end_date" class="form-label">Campaign End Date</label>
                  <input type="date" class="form-control" name="campaign_end_date" id="campaign_end_date" value = "{% if Success == True%}{{form.CampaignEnddate}}{% endif %}" >
                </div>
                <div class="col-md-4"><label for="Campaign_type_input" class="form-label">Campaign Type</label>
                  <select name = "Campaign_type_input" id="Campaign_type_input" class="form-select" >
                    <option selected value="Push">Push</option>
                    <option value="InApp-Pop">InApp-Pop</option>
                    <option value="Inbox">Inbox</option>
                    <option value="Banner">Banner</option>
                  </select>
                  <script>
                    document.querySelector('#Campaign_type_input').value = "{% if Success == True %}{{form.CampaignType}}{% else %}Push{% endif %}";
                   </script> 
                </div>
                <div class="col-md-4">
                  <label for="Conversion_metric_input" class="form-label">Conversion Metric</label>
                  <select name = "Conversion_metric_input" id ="Conversion_metric_input" class="form-select" >
                    <option selected value="Retention rate">Retention rate</option>
                    <option value="Digitization">Digitization</option>
                    <option value="App Launch">App Launch</option>
                    <option value="FD Booked">FD Booked</option>
                    <option value="B2B Order Placed">B2B Order Placed</option>
                  </select>
                  <script>
                    document.querySelector('#Conversion_metric_input').value = "{% if Success == True %}{{form.ConversionMetric}}{% else %}Retention rate{% endif %}";
                   </script> 
                </div>
                <div class="col-md-4">
                    <label for="Conversion_period" class="form-label">Conversion Period (in Days)</label>
                      <input type="number" class="form-control" name = "Conversion_period" id="Conversion_period" value = "{% if Success == True%}{{form.ConversionPeriod}}{% endif %}">
                    </div>
                    <div class="text-center">
                      <button type="submit" class="button-18" id = "Final_submit" name = "Final_submit" {% if Verification == "True" %}disabled{% endif %}>Submit</button>
                    </div>
              </div>
          </div>
        </div>
        <hr>
        <!-- End Campaign Details -->

        <!--Start Download Section --> 
        {% if Success == True %}
				{% if form.Download == True %}
				 <div class="card ">
						<div class="card-body">
							<h5 class="card-title">Download</span></h5>
							<div class="text-center">
								<a class="button-18" href="{{url_for('download')}}">Download</a>
							</div>
						</div>
					</div>
        <hr> 
				{% endif %} 
        {% endif %}
        <!-- End Download Section-->

			</form>

      

        {% if  Success== True %}
			<script>
				window.scrollTo({ top: document.getElementById("{{form.location}}").getBoundingClientRect().top, behavior: 'smooth'})
			</script>
			{% endif %}

			
			<!-- {% if section == "sample_size" %}
			<script>
				window.scrollTo({ top: document.getElementById('sample_size').getBoundingClientRect().top, behavior: 'smooth'})
			</script>

			{% endif %} -->

			
         <!--
	{% block body %}
	{% if section == "hypothesis" %}
	<script>
		window.scrollTo({ top: document.getElementById('hypothesis').getBoundingClientRect().top + window.pageYOffset + 640, behavior: 'smooth' })
		</script>
	{% elif section == "section_samplesize" %}
	<script>
		window.scrollTo({ top: document.getElementById('section_samplesize').getBoundingClientRect().top + window.pageYOffset + 640, behavior: 'smooth' })
	</script>
	{% elif section == 'section_sampling' %}
	<script>
		window.scrollTo({ top: document.getElementById('section_sampling').getBoundingClientRect().top + window.pageYOffset + 1000, behavior: 'auto' })
			</script>
	{% else %}
	<script>
		document.getElementById('main').scrollIntoView({ behavior: "smooth", block: "start", inline: "start" }); 
	</script>
	{% endif %}
	{% endblock %}
	-->
	

   
    </main>
    <!--End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer"></footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/chart.js/chart.umd.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/echarts/echarts.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/quill/quill.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/tinymce/tinymce.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>